name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    
    strategy:
      matrix:
        python-version: ['3.9', '3.12']
        java: [11]
        os: ['ubuntu-latest']
        architecture: ['x64']
        terrier: ['snapshot']

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Setup java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install torch git+https://github.com/naver/splade.git
        pip install --timeout=120 .
        pip install pytest

    - name: All unit tests
      env:
        TERRIER_VERSION: ${{ matrix.terrier }}
      run: |
        pytest
